@font-face {
    font-family: "Raleway";
    src: url("res/fonts/Raleway-Thin.ttf");
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #171517;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colors {
    display: grid;
    padding-top: 15vh;
    grid-gap: 50px;
}

.color-cube {
    /* margin: 5px; */
    padding: 25px;
    border-radius: 3px;
    transition: background-color 500ms ease-in-out;
}

#form {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

#input-div {
    /* height: 250px; */
    height: 0px;
    width: 100%;
    background: #171517;
    display: grid;
    transition: 0.3s;
}

#hot-corner {
    height: 5px;
    background: linear-gradient(268deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0%{background-position:0% 45%}
    50%{background-position:100% 56%}
    100%{background-position:0% 45%}
}

#parser-input {
    width: 100%;
    background-color: #171517;
    color: #f5f5f5;
    border: none;
}

textarea {
  resize: none;
}

.btn {
    width: 100%;
    background-color: #171517;
    color: #f5f5f5;
}

#header-container {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

#header {
    background-color: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20vh;
    color: white;
    text-align: center;
}

#nav-left img, #nav-right img {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    transition: 100ms;
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.5;
    filter: drop-shadow(0px 0px 2px #171517);
}

@keyframes rotate {
    0% {
        filter: drop-shadow(0px 0px 4px);
    }
    50% {
        filter: drop-shadow(0px 0px 1px);
    }
    100% {
        filter: drop-shadow(0px 0px 4px);
    }
}

#nav-left {
    top: 0;
    left: 0;
    width: 8%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}

#nav-right {
    top: 0;
    right: 0;
    width: 8%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}

#nav-left img {
    left: -100%;
}

#nav-left:hover img {
    left: 15%;
}

#nav-right img {
    right: -100%;
}

#nav-right:hover img {
    right: 15%;
}

@media only screen and (max-width: 470px) {
    #nav-right {
        width: 10vw;
    }
    #nav-left {
        width: 10vw;
    }
}
